<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Orbitron|Roboto+Condensed:400,700" rel="stylesheet">


    <link rel="stylesheet" href="./style/header.css">
    <link rel="stylesheet" href="./style/cards.css">
    <link rel="stylesheet" href="./style/custom.css">
</head>

<body>

    <main id="app">
        <div class="loader active">
            <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_t6deqxek.json" background="transparent"
                speed="1" style="width: 300px; height: 300px;" class="astronauta" loop autoplay></lottie-player>
        </div>

        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg fixed-top " style=" background-color: #111315;">
                <div class="logo"><img src="./assets/LOGO/logoWhite.png" alt="" srcset=""></div>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class='bx bx-menu text-white'
                            style="margin-top: .7rem;"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">

                        <li class="nav-item dropdown notification">
                            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span
                                    class="indicator" v-if="notificaciones.length > 0"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                                <li>
                                    <div class="notification-title"> Notification</div>
                                    <div class="notification-list">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active"
                                                v-for="(userNoti, index) in notificacionesCortadas">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img :src=userNoti.url
                                                            alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span
                                                            class="notification-list-user-name">{{userNoti.user}}</span>{{userNoti.message}}
                                                        <div class="notification-date">
                                                            {{getDateNotification(userNoti.date)}}</div>
                                                    </div>
                                                </div>
                                            </a>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-footer"> <a href="#">View all notifications</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown connection">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                                <li class="connection-list">
                                    <div class="row">
                                        <div class="col-xl-4 col-md-4 col-4 ">
                                            <a href="./accounts.html" class="connection-item "><i
                                                    class='bx bx-group bx-md'></i>
                                                <span>Accounts</span></a>
                                        </div>
                                        <div class="col-xl-4 col-md-4 col-4 ">
                                            <a href="#" class="connection-item active"><i
                                                    class='bx bx-credit-card bx-md'></i>
                                                <span>Cards</span></a>
                                        </div>
                                        <div class="col-xl-4 col-md-4 col-4 ">
                                            <a href="./transfers.html" class="connection-item"><i
                                                    class='bx bx-spreadsheet bx-md'></i>
                                                <span>Transfers</span></a>
                                        </div>
                                        <div class="col-xl-4 col-md-4 col-4 ">
                                            <a href="./loans.html" class="connection-item"><i
                                                    class='bx bx-money-withdraw bx-md'></i>
                                                <span>Loans</span></a>
                                        </div>
                                        <div class="col-xl-4 col-md-4 col-4 ">
                                            <a href="./cryptos.html" class="connection-item"><i
                                                    class='bx bx-transfer-alt bx-md'></i></i>
                                                <span>Swap</span></a>
                                        </div>
                                        <div class="col-xl-4 col-md-4 col-4 ">
                                            <a href="./services.html" class="connection-item"><i
                                                    class='bx bxs-store bx-md'></i></i>
                                                <span>Services</span></a>
                                        </div>
                                    </div>

                                </li>
                                <li>
                                    <div class="conntection-footer"><span>Menu</span></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img alt=""
                                    class="user-avatar-md rounded-circle" :src=dataBaseUser.avatar v-cloak></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                                aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">{{dataBaseUser.userName}}</h5>
                                    <span class="status"></span><span class="ml-2">{{dataBaseUser.email}}</span>
                                </div>
                                <a class="dropdown-item" href="./settings.html"><i class="fas fa-user mr-2"></i>Account
                                </a>
                                <a class="dropdown-item logOut" @click="signOut"><i
                                        class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="anuncio" v-if=" 6 > cards.length" @click="redireccionarCard('create-cards.html')">
            <h4>Order a card now at <span class="naranja">no additional</span> cost!</h4>
            <div>
                <img src="./assets/cardInfo.svg" alt="" srcset="">
                <p>Click Here!</p>
            </div>
        </div>
        <div class="contenedor row g-0 m-0 p-0 d-flex flex-column align-items-center ">
            <section class="col-12 py-2 mt-5" style=" background-color: #111315;">
                <!-- <h1 class="text-center text-white">Bankrdo<span style="color:#FC5404">X</span></h1> -->
            </section>

            <section class="col-12 title mt-3">
                <h2 class="text-white text-center">YOUR <span style="color: #FC5404;">CARDS</span> </h2>
            </section>

            <section class="col-12 mt-3">
                <div class="contenedorSwitch" :class="{right:!isCredit}">
                    <div class="switchBtn" id="credit" @click="changeCreditOrDebit">CREDIT</div>
                    <div class="switchBtn" id="debit" @click="changeCreditOrDebit">DEBIT</div>
                </div>
            </section>
            <div class="containerC " :class="{disable: !isCredit || creditArray.length == 0}">

                <section class="col-12 position-relative  h-100 cardContainerC">
                    <div class="position-relative h-50" v-for="(card, i) in creditArray" :id="'id' + i"
                        @click="changeFocus('id' + i)">
                        <div class="frontSVG" style="font-family: 'creditCardBack'"
                            :class="{premium: card.cardColor == 'TITANIUM', gold: card.cardColor == 'GOLD', ruby: card.cardColor == 'SILVER', debit: card.cardType == 'DEBIT',credit: card.cardType == 'CREDIT'  }">
                        </div>

                        <div class="backSVG" style="font-family: 'creditCardBack'">
                            <div class="cardBody">
                                <p class="firma"
                                    :class="{premium: card.cardColor == 'TITANIUM', gold: card.cardColor == 'GOLD', ruby: card.cardColor == 'SILVER'}">
                                    {{card.cardHolder}}</p>
                                <div class="background">
                                    <div class="bakrdoxName">
                                        <p class="text-white">Bankrdo<span
                                                :class="{premium: card.cardColor == 'TITANIUM', gold: card.cardColor == 'GOLD', ruby: card.cardColor == 'SILVER'}">X</span>
                                        </p>
                                    </div>
                                    <div class="cardHolder">
                                        <p class="text-white">{{separarNombre(card.cardHolder,0)}} <span
                                                :class="{premium: card.cardColor == 'TITANIUM', gold: card.cardColor == 'GOLD', ruby: card.cardColor == 'SILVER'}">{{separarNombre(card.cardHolder,1)}}</span>
                                        </p>
                                    </div>
                                    <div class="cardNumber">
                                        <p>{{separarNombre(card.number,0)}}</p>
                                        <p
                                            :class="{premium: card.cardColor == 'TITANIUM', gold: card.cardColor == 'GOLD', ruby: card.cardColor == 'SILVER'}">
                                            {{separarNombre(card.number,1)}}</p>
                                        <p>{{separarNombre(card.number,2)}}</p>
                                        <p
                                            :class="{premium: card.cardColor == 'TITANIUM', gold: card.cardColor == 'GOLD', ruby: card.cardColor == 'SILVER'}">
                                            {{separarNombre(card.number,3)}}</p>
                                    </div>
                                    <div class="cardDate">
                                        <p> {{getDateCreate(card.thruDate)}}</p>
                                    </div>
                                    <div class="cardCvv">
                                        <p> <span>cvv</span> <span>{{card.cvv}}</span></p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="containerD " :class="{disable: isCredit  }">
                <section class="col-12 position-relative  h-100 cardContainerC">
                    <div class="position-relative h-50" v-for="(card, i) in debitArray" :id="'id' + i + 10"
                        @click="changeFocus2('id' + i+ 10)">
                        <div class="frontSVG"
                            :class="{premium: card.cardColor == 'TITANIUM', gold: card.cardColor == 'GOLD', ruby: card.cardColor == 'SILVER', debit: card.cardType == 'DEBIT',credit: card.cardType == 'CREDIT'  }">
                        </div>
                        <div class="backSVG">
                            <div class="cardBody">
                                <p class="firma"
                                    :class="{premium: card.cardColor == 'TITANIUM', gold: card.cardColor == 'GOLD', ruby: card.cardColor == 'SILVER'}">
                                    {{card.cardHolder}}</p>
                                <div class="background">
                                    <div class="bakrdoxName">
                                        <p class="text-white">Bankrdo<span
                                                :class="{premium: card.cardColor == 'TITANIUM', gold: card.cardColor == 'GOLD', ruby: card.cardColor == 'SILVER'}">X</span>
                                        </p>
                                    </div>
                                    <div class="cardHolder">
                                        <p class="text-white">{{separarNombre(card.cardHolder,0)}} <span
                                                :class="{premium: card.cardColor == 'TITANIUM', gold: card.cardColor == 'GOLD', ruby: card.cardColor == 'SILVER'}">{{separarNombre(card.cardHolder,1)}}</span>
                                        </p>
                                    </div>
                                    <div class="cardNumber">
                                        <p>{{separarNombre(card.number,0)}}</p>
                                        <p
                                            :class="{premium: card.cardColor == 'TITANIUM', gold: card.cardColor == 'GOLD', ruby: card.cardColor == 'SILVER'}">
                                            {{separarNombre(card.number,1)}}</p>
                                        <p>{{separarNombre(card.number,2)}}</p>
                                        <p
                                            :class="{premium: card.cardColor == 'TITANIUM', gold: card.cardColor == 'GOLD', ruby: card.cardColor == 'SILVER'}">
                                            {{separarNombre(card.number,3)}}</p>
                                    </div>
                                    <div class="cardDate">
                                        <p> {{getDateCreate(card.thruDate)}}</p>
                                    </div>
                                    <div class="cardCvv">
                                        <p> <span>cvv</span> <span>{{card.cvv}}</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            </section>
        </div>

       
        <img src="./assets/aliensCard.svg" alt="" srcset="">
        </div>
        <footer class="footer-section" style="z-index: 3;">
            <div class="container">
                <div class="footer-cta pt-5 pb-5">
                    <div class="row">
                        <div class="col-xl-4 col-md-4 mb-30">
                            <div class="single-cta">
                                <i class="fas fa-map-marker-alt"></i>
                                <div class="cta-text">
                                    <h4>Find us</h4>
                                    <a href="https://goo.gl/maps/sPQenkcJJfpCsCZ67" target="_blank">742 Evergreen
                                        Terrace</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 mb-30">
                            <div class="single-cta">
                                <i class="fas fa-phone"></i>
                                <div class="cta-text">
                                    <h4>Call us</h4>
                                    <a href="tel:+9876543210 0" target="_blank">9876543210 0</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 mb-30">
                            <div class="single-cta">
                                <i class="far fa-envelope-open"></i>
                                <div class="cta-text">
                                    <h4>Mail us</h4>
                                    <a href="mailto:bankrdox@gmail.com" target="_blank">bankrdox@gmail.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-content pt-5 pb-5">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 mb-50">
                            <div class="footer-widget">
                                <div class="footer-logo">
                                    <a href="https://beacons.ai/e7ke" target="_blank"><img src="./assets/e7ke.png"
                                            class="img-fluid" alt="logo"></a>
                                </div>
                                <div class="footer-text">
                                    <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor
                                        incididuntut consec tetur adipisicing
                                        elit,Lorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="footer-social-icon">
                                    <span>Follow us</span>
                                    <a href="https://instagram.com/ezequiel__55/" target="_blank"><i
                                            class="fab fa-instagram facebook-bg"></i></a>
                                    <a href="https://twitter.com/9zE7KE" target="_blank"><i
                                            class="fab fa-twitter twitter-bg"></i></a>
                                    <a href="https://github.com/EzequielPriotto" target="_blank"><i
                                            class="fab fa-github google-bg"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                            <div class="footer-widget">
                                <div class="footer-widget-heading">
                                    <h3>Useful Links</h3>
                                </div>
                                <ul>
                                    <li><a href="./accounts.html">Home</a></li>
                                    <li><a href="#">about</a></li>
                                    <li><a href="#">services</a></li>
                                    <li><a href="#">portfolio</a></li>
                                    <li><a href="#">Contact</a></li>
                                    <li><a href="#">About us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                            <div class="footer-widget">
                                <div class="footer-widget-heading">
                                    <h3>Subscribe</h3>
                                </div>
                                <div class="footer-text mb-25">
                                    <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                                </div>
                                <div class="subscribe-form">
                                    <form @submit.prevent="enviarMail">
                                        <input type="email" placeholder="Email Address" v-model="mailFooterInput"
                                            required>
                                        <button><i class="fab fa-telegram-plane"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-area">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 text-center">
                            <div class="copyright-text">
                                <p>Copyright &copy; 2022, All Right Reserved <a
                                        href="https://github.com/EzequielPriotto" target="_blank">Ezequiel Priotto</a>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </footer>

    </main>

    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://kit.fontawesome.com/19b971d5e3.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="./script/cards.js"></script>
</body>

</html>