<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Orbitron|Roboto+Condensed:400,700" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="./style/header.css">
    <link rel="stylesheet" href="./style/cards.css">
    <link rel="stylesheet" href="./style/custom.css">
</head>
<body>
    
    <main id="app">

        
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg fixed-top " style=" background-color: #111315;">
                <h1 class="text-center text-white mx-5">Bankrdo<span style="color:#FC5404">X</span></h1>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" ><i class='bx bx-menu text-white' style="margin-top: .7rem;"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">

                        <li class="nav-item dropdown notification">
                            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span
                                    class="indicator" v-if="notificaciones.length > 0"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                                <li>
                                    <div class="notification-title"> Notification</div>
                                    <div class="notification-list">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active"
                                                v-for="userNoti in notificaciones">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img :src=userNoti.avatar
                                                            alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span
                                                            class="notification-list-user-name">{{userNoti.name}}</span>{{userNoti.message}}
                                                        <div class="notification-date">{{userNoti.date}} min ago</div>
                                                    </div>
                                                </div>
                                            </a>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-footer"> <a href="#">View all notifications</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown connection">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                                <li class="connection-list">
                                    <div class="row">
                                        <div class="col-xl-4 col-md-4 col-4 ">
                                            <a href="./accounts.html" class="connection-item "><i class='bx bx-group bx-md'></i>
                                                <span>Accounts</span></a>
                                        </div>
                                        <div class="col-xl-4 col-md-4 col-4 ">
                                            <a href="./cards.html" class="connection-item"><i
                                                    class='bx bx-credit-card bx-md'></i>
                                                <span>Cards</span></a>
                                        </div>
                                        <div class="col-xl-4 col-md-4 col-4 ">
                                            <a href="#" class="connection-item"><i class='bx bx-spreadsheet bx-md'></i>
                                                <span>Transfers</span></a>
                                        </div>
                                        <div class="col-xl-4 col-md-4 col-4 ">
                                            <a href="#" class="connection-item active"><i
                                                    class='bx bx-money-withdraw bx-md'></i>
                                                <span>Loans</span></a>
                                        </div>

                                    </div>

                                </li>
                                <li>
                                    <div class="conntection-footer"><span>Menu</span></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                                     alt="" class="user-avatar-md rounded-circle" :src=dataBase.avatar v-cloak></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                                aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">{{dataBase.userName}}</h5>
                                    <span class="status"></span><span class="ml-2">AccountX Number
                                        {{dataBase.id}}</span>
                                </div>
                                <a class="dropdown-item" href="./settings.html"><i class="fas fa-user mr-2"></i>Account
                                </a>
                                <a class="dropdown-item" @click="signOut"><i
                                        class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        
        <div class="contenedorS"></div>

        <div class="contenedor row g-0 m-0 p-0 d-flex flex-column align-items-center ">
            <section class="col-12 py-2 mt-5" style=" background-color: #111315;">
                <!-- <h1 class="text-center text-white">Bankrdo<span style="color:#FC5404">X</span></h1> -->
            </section>
          
            <section class="col-12"><h2 class="text-white text-center">YOUR <span style="color: #FC5404;">LOANS</span> </h2></section>

                <ul class="text-white d-flex gap-5 align-items-center w-100 justify-content-center mt-4">
                    <li v-for="loan in loans" >
                       <p> Amount:{{loan.amount}}</p>
                       <p> Payments:{{loan.payments}}</p>
                       <p> Type:{{loan.name}}</p>
                    </li>
                </ul>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                   ADD LOAN
                  </button>
        </div>
      
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <form @submit.prevent="addLoan()">
           
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

        <footer class="footer-section">
            <div class="container">
                <div class="footer-cta pt-5 pb-5">
                    <div class="row">
                        <div class="col-xl-4 col-md-4 mb-30">
                            <div class="single-cta">
                                <i class="fas fa-map-marker-alt"></i>
                                <div class="cta-text">
                                    <h4>Find us</h4>
                                    <a href="https://goo.gl/maps/sPQenkcJJfpCsCZ67" target="_blank">742 Evergreen Terrace</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 mb-30">
                            <div class="single-cta">
                                <i class="fas fa-phone"></i>
                                <div class="cta-text">
                                    <h4>Call us</h4>
                                    <a href="tel:+9876543210 0" target="_blank">9876543210 0</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 mb-30">
                            <div class="single-cta">
                                <i class="far fa-envelope-open"></i>
                                <div class="cta-text">
                                    <h4>Mail us</h4>
                                    <a href="mailto:bankrdo.Admin@gmail.com"  target="_blank">bankrdo.Admin@gmail.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-content pt-5 pb-5">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 mb-50">
                            <div class="footer-widget">
                                <div class="footer-logo">
                                    <a href="https://beacons.ai/e7ke" target="_blank"><img src="./assets/e7ke.png" class="img-fluid" alt="logo"></a>
                                </div>
                                <div class="footer-text">
                                    <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec tetur adipisicing
                                    elit,Lorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="footer-social-icon">
                                    <span>Follow us</span>
                                    <a href="https://instagram.com/ezequiel__55/" target="_blank"><i class="fab fa-instagram facebook-bg"></i></a>
                                    <a href="https://twitter.com/9zE7KE" target="_blank"><i class="fab fa-twitter twitter-bg"></i></a>
                                    <a href="https://github.com/EzequielPriotto" target="_blank"><i class="fab fa-github google-bg"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                            <div class="footer-widget">
                                <div class="footer-widget-heading">
                                    <h3>Useful Links</h3>
                                </div>
                                <ul>
                                    <li><a href="./accounts.html">Home</a></li>
                                    <li><a href="#">about</a></li>
                                    <li><a href="#">services</a></li>
                                    <li><a href="#">portfolio</a></li>
                                    <li><a href="#">Contact</a></li>
                                    <li><a href="#">About us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                            <div class="footer-widget">
                                <div class="footer-widget-heading">
                                    <h3>Subscribe</h3>
                                </div>
                                <div class="footer-text mb-25">
                                    <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                                </div>
                                <div class="subscribe-form">
                                    <form @submit.prevent="enviarMail">
                                        <input type="email" placeholder="Email Address" v-model="mailFooterInput" required>
                                        <button><i class="fab fa-telegram-plane"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-area">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 text-center">
                            <div class="copyright-text">
                                <p>Copyright &copy; 2022, All Right Reserved <a href="https://github.com/EzequielPriotto" target="_blank">Ezequiel Priotto</a></p>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </footer>
    </main>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js" ></script>
    <script src="https://kit.fontawesome.com/19b971d5e3.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>

    <script src="./script/loans.js"></script>
</body>
</html>