<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BankardoX</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="./style/password.css">
</head>

<body>
  <main id="app">

    <div v-if="!failed">
      <h1 class="text-center mb-5 text-white" v-cloak v-if="!failed">Enter your new password</h1>
      <label> Enter the new password</label><input type="password"></label>
      <label> Repeat your new password <input type="password"></label>
      <p v-if="!password">The account need are the same</p>
      <input type="email">
      <button @click="login()" class="btn btnLogin naranja" v-cloak v-if="!failed">Login account</button>
    </div>

    <div v-else>
      <img src="./assets/failed.svg" v-cloak >
      <h1 class="text-center mb-2 text-white" v-cloak >Failed password recovery!</h1>
      <h4 class="text-center mb-3 naranja" v-cloak >The token is invalid</h4>
    </div>

  </main>







  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/19b971d5e3.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@3"></script>

  <script src="./script/changePassword.js"></script>
</body>

</html>