<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Orbitron|Roboto+Condensed:400,700" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="./style/header.css">
    <link rel="stylesheet" href="./style/transaction.css">
    <link rel="stylesheet" href="./style/custom.css">
</head>

<body>

    <main id="app">


        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg fixed-top " style=" background-color: #111315;">
                <div class="logo"><img src="./assets/LOGO/logoWhite.png" alt="" srcset=""></div>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class='bx bx-menu text-white'
                            style="margin-top: .7rem;"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">

                        <li class="nav-item dropdown notification">
                            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span
                                    class="indicator" v-if="notificaciones.length > 0"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                                <li>
                                    <div class="notification-title"> Notification</div>
                                    <div class="notification-list">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active"
                                                v-for="(userNoti, index) in notificacionesCortadas">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img :src=userNoti.url
                                                            alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span
                                                            class="notification-list-user-name">{{userNoti.user}}</span>{{userNoti.message}}
                                                        <div class="notification-date">
                                                            {{getDateNotification(userNoti.date)}}</div>
                                                    </div>
                                                </div>
                                            </a>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-footer"> <a href="#">View all notifications</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown connection">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                                <li class="connection-list">
                                    <div class="row">
                                        <div class="col-xl-4 col-md-4 col-4 ">
                                            <a href="./accounts.html" class="connection-item "><i
                                                    class='bx bx-group bx-md'></i>
                                                <span>Accounts</span></a>
                                        </div>
                                        <div class="col-xl-4 col-md-4 col-4 ">
                                            <a href="./cards.html" class="connection-item"><i
                                                    class='bx bx-credit-card bx-md'></i>
                                                <span>Cards</span></a>
                                        </div>
                                        <div class="col-xl-4 col-md-4 col-4 ">
                                            <a href="#" class="connection-item active"><i
                                                    class='bx bx-spreadsheet bx-md'></i>
                                                <span>Transfers</span></a>
                                        </div>
                                        <div class="col-xl-4 col-md-4 col-4 ">
                                            <a href="./loans.html" class="connection-item "><i
                                                    class='bx bx-money-withdraw bx-md'></i>
                                                <span>Loans</span></a>
                                        </div>
                                        <div class="col-xl-4 col-md-4 col-4 ">
                                            <a href="./cryptos.html" class="connection-item"><i
                                                    class='bx bx-transfer-alt bx-md'></i></i>
                                                <span>Swap</span></a>
                                        </div>
                                        <div class="col-xl-4 col-md-4 col-4 ">
                                            <a href="./services.html" class="connection-item"><i
                                                    class='bx bxs-store bx-md'></i></i>
                                                <span>Services</span></a>
                                        </div>
                                    </div>

                                </li>
                                <li>
                                    <div class="conntection-footer"><span>Menu</span></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img alt=""
                                    class="user-avatar-md rounded-circle" :src=dataBase.avatar v-cloak></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                                aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">{{dataBase.userName}}</h5>
                                    <span class="status"></span><span class="ml-2">AccountX Number
                                        {{dataBase.id}}</span>
                                </div>
                                <a class="dropdown-item" href="./settings.html"><i class="fas fa-user mr-2"></i>Account
                                </a>
                                <a class="dropdown-item logOut" @click="signOut"><i
                                        class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="contenedorS"></div>

        <div class="contenedor row g-0 m-0 p-0 d-flex flex-column align-items-center ">
            <section class="col-12 py-3 mt-5" style=" background-color: #111315;">
                <!-- <h1 class="text-center text-white">Bankrdo<span style="color:#FC5404">X</span></h1> -->
            </section>

            <div class="divAlert disable">
                <div class="alertContainer ">
                    <div class="alert">
                        <div class="alerBody">
                            <h5 class="text-center text-white">The transaction is make <span
                                    class="naranja">succesful</span></h5>
                            <div class="alertDetails">
                                <p>Transaction details: </p>
                                <p>Send <span class="naranja">$MONTO</span> from <span class="naranja">NUMERO DE
                                        CUENTA</span></p>
                                <p>Account destination: <span class="naranja">NUMERO DE CUENTA</span></p>
                                <p>User destination: <span class="naranja">NOMBRE DEL CLIENTE</span></p>
                            </div>
                            <img src="./assets/pajarito.svg" alt="" srcset="">
                            <p class="txt-pajarito">Thank you for trusting us!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="confirmBody">
                <span @click="closeConfirm">X</span>
                <h3 class="mt-5 pt-4 text-center text-white fw-bold fs-1">TRANSAFER <span class="naranja">RESUME</span>
                </h3>
                <p class="text-white mx-1 fs-4">Amount: <span class="naranja">{{amount}}</span> </p>
                <p class="text-white mx-1 fs-4">From: <span class="naranja">{{accountSelectNumber}}</span> </p>
                <p class="text-white mx-1 fs-4">To: <span class="naranja">{{accountDestiny}}</span> </p>
                <button class="btn btn-danger mt-1 mx-3" @click="sendTransfer">Confirm</button>
                <img src="./assets/confirmTransaccion.svg" alt="" srcset="">
            </div>

            <div class="confirmBody2">
                <span @click="abrirPDF">X</span>
                <h3 class="mt-5 pt-4 text-center text-white fw-bold fs-1">DOWNLOAD <span class="naranja">RESUME</span>
                </h3>
               <div>
                <p class="text-white mx-1 fs-4">Account: </p>
                <div class="d-flex gap-2 mx-3 mb-2">
                    <div v-for="account in accounts" class="accountOption" :id="'id' + account.number" @click="changeAccount(account.number)">{{account.number}}</div>
                    <div class="accountOption" id="idall" @click="changeAccount('all')">All</div>
                </div>
               </div>
                <p class="text-white mx-1 fs-4">From: <input type="datetime-local" v-model="dateInputFrom">   </p>
                <p class="text-white mx-1 fs-4">To:  <input type="datetime-local" v-model="dateInputTo"> </p>
                <button class="btn mt-3 mx-3" @click="getPDF">Confirm</button>
                <img src="./assets/confirmTransaccion.svg" alt="" srcset="">
            </div>
          
            <section class="centerContainer">
                <div class="transferDiv">
                    <h4 class="text-white fw-bold fs-3">Make a transaction</h4>
                    <div class="paso1 active">
                        <button class="btn" @click="activarForm(1)">FOR ME</button>
                        <button class="btn" @click="activarForm(2)">TO OTHER</button>
                    </div>
                    <div class="paso2">
                        <button class="btn btnBack" @click="activarForm(0)">Go back</button>
                        <form @submit.prevent="verifyTransfer()">
                            <fieldset>
                                <div class="accountOriginContainer">
                                    <button class="btn" type="button" @click="activateDropdown">
                                        <span class="marcador">Account Origin</span>
                                    </button>
                                    <ul class="accountOrigin active">
                                        <li v-for="account in accounts" @click="actualizarSelect">
                                            <input type="radio" class="select-item" v-model="accountSelectNumber"
                                                @change="actualizarSelect" :value=account.number :id=account.number
                                                style="display: none;"></input>
                                            <label :for=account.number>{{account.number}}
                                                <span>({{account.accountType}})</span></label>
                                            <p class="text-danger fw-bold " v-show="errorAccountOrigin">Account not
                                                available</p>
                                        </li>
                                    </ul>
                                </div>

                            </fieldset>

                            <fieldset>
                                <label for="amount" class="marcador">Amount to send</label>
                                <input type="number" id="amount" v-model="amount">
                                <p class="text-danger fw-bold " v-show="errorAmount">Amount not available</p>
                            </fieldset>

                            <fieldset>

                                <div class="accountOriginContainer " v-if="typeForm == 1 && accountsSend.length > 0">
                                    <button class="btn" type="button" @click="activateDropdown2">
                                        <span class="marcador">Account Destiny</span>
                                        <!-- <i class="fa mx-1" :class="{'fa-caret-down': !isActiveDrop2, 'fa-caret-up': isActiveDrop2}"></i> -->
                                    </button>
                                    <ul class="accountOrigin destiny" :class="{active: isActiveDrop2}">
                                        <li v-for="account2 in accountsSend">
                                            <input type="radio" class="select-item" v-model="accountDestiny"
                                                :value=account2.number :id="'id'+ account2.number"
                                                style="display: none;"></input>
                                            <label :for="'id'+ account2.number">{{account2.number}}</label>
                                            <p class="text-danger fw-bold " v-show="errorAccountDestiny">Amount not
                                                available</p>

                                        </li>
                                    </ul>
                                </div>
                                <p v-if="typeForm == 1 && accountsSend.length == 0">No Account available</p>
                                <p v-if="typeForm == 2" class="marcador">Account Destiny</p>
                                <textarea id="accountDestiny" v-if="typeForm == 2" :placeholder=accountDestiny
                                    v-model="accountDestiny"> </textarea>
                                <p class="text-danger fw-bold" v-show="errorAccountDestiny && typeForm == 2">Account not
                                    available</p>

                            </fieldset>

                            <button type="submit" v-if="typeForm == 1 && accountsSend.length == 0" disabled>
                                <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                    <path
                                        d="M5 13c0-5.088 2.903-9.436 7-11.182C16.097 3.564 19 7.912 19 13c0 .823-.076 1.626-.22 2.403l1.94 1.832a.5.5 0 0 1 .095.603l-2.495 4.575a.5.5 0 0 1-.793.114l-2.234-2.234a1 1 0 0 0-.707-.293H9.414a1 1 0 0 0-.707.293l-2.234 2.234a.5.5 0 0 1-.793-.114l-2.495-4.575a.5.5 0 0 1 .095-.603l1.94-1.832C5.077 14.626 5 13.823 5 13zm1.476 6.696l.817-.817A3 3 0 0 1 9.414 18h5.172a3 3 0 0 1 2.121.879l.817.817.982-1.8-1.1-1.04a2 2 0 0 1-.593-1.82c.124-.664.187-1.345.187-2.036 0-3.87-1.995-7.3-5-8.96C8.995 5.7 7 9.13 7 13c0 .691.063 1.372.187 2.037a2 2 0 0 1-.593 1.82l-1.1 1.039.982 1.8zM12 13a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"
                                        fill="currentColor"></path>
                                </svg>
                                <span>Send</span>
                            </button>
                            <button type="submit" v-else>
                                <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                    <path
                                        d="M5 13c0-5.088 2.903-9.436 7-11.182C16.097 3.564 19 7.912 19 13c0 .823-.076 1.626-.22 2.403l1.94 1.832a.5.5 0 0 1 .095.603l-2.495 4.575a.5.5 0 0 1-.793.114l-2.234-2.234a1 1 0 0 0-.707-.293H9.414a1 1 0 0 0-.707.293l-2.234 2.234a.5.5 0 0 1-.793-.114l-2.495-4.575a.5.5 0 0 1 .095-.603l1.94-1.832C5.077 14.626 5 13.823 5 13zm1.476 6.696l.817-.817A3 3 0 0 1 9.414 18h5.172a3 3 0 0 1 2.121.879l.817.817.982-1.8-1.1-1.04a2 2 0 0 1-.593-1.82c.124-.664.187-1.345.187-2.036 0-3.87-1.995-7.3-5-8.96C8.995 5.7 7 9.13 7 13c0 .691.063 1.372.187 2.037a2 2 0 0 1-.593 1.82l-1.1 1.039.982 1.8zM12 13a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"
                                        fill="currentColor"></path>
                                </svg>
                                <span>Send</span>
                            </button>

                        </form>
                    </div>
                    <img src="./assets/Listening.svg" alt="" srcset="">


                </div>
                <div class="transferDivMobile">
                </div>

                <div class="historyDiv" :class="{empty: transactions.length == 0}">
                    <ul class="" v-dragscroll.y="true" v-cloak>
                        <li class="itemCompraList">
                            <div class="text-white iconoCompraList">
                                <p class="">Type</p>
                            </div>

                            <div class="descCompraList">
                                <p>Description</p>
                            </div>
                            <div class="dateCompraList">
                                <p>Date</p>
                            </div>
                            <div class="idCompraList">
                                <p>Transaction id</p>
                            </div>
                            <div class="amountCompraList">
                                <p> Amount</p>
                            </div>
                            <div class="position-relative">
                                <i class='bx bxs-file-doc' @click="abrirPDF"></i>
                            </div>
                        </li>
                        <li v-if="transactions.length == 0">
                            <h2 class="text-center mt-5 text-white">NO TRANSACTIONS <span class="naranja">FOUND</span>
                            </h2>
                            <img src="./assets/notFound.svg" alt="">
                        </li>
                        <li v-for="compra in transactions" class="itemCompraList" :class="{}"
                            v-if="transactions.length > 0">
                           
                            <div class="text-white iconoCompraList">
                                <i class='bx bx-transfer-alt iconoCompra' v-if="compra.category === 'Swap'"></i>
                                <i class='bx bxs-bank iconoCompra' v-if="compra.category === 'Transfer'"></i>
                                <i class='bx bx-joystick iconoCompra' v-if="compra.category === 'Games'"></i>
                                <i class='bx bx-restaurant iconoCompra' v-if="compra.category === 'Food'"></i>
                                <i class='bx bxs-t-shirt iconoCompra' v-if="compra.category === 'Outfit'"></i>
                                <i class='bx bxs-shopping-bag iconoCompra' v-if="compra.category === 'Others'"></i>
                                <i class='bx bx-store iconoCompra' v-if="compra.category === 'Services'"></i>
                            </div>
                            <div class="descCompraList">
                                <p>{{compra.description}}</p>
                            </div>
                            <div class="dateCompraList d-flex flex-column">
                                <p>{{getDateCreate(compra.date)}}</p>
                            </div>
                            <div class="idCompraList">
                                <p>{{compra.idEncrypted}}</p>
                            </div>
                            <div class="amountCompraList" v-if="compra.cryptoOrUsd == 'USD'">
                                <p v-if="compra.type == 'CREDIT'" class="positivo">+ $
                                    {{compra.amount.toLocaleString('de-DE')}}</p>
                                <p v-else class="negativo">- $ {{compra.amount.toLocaleString('de-DE')}} </p>
                            </div>
                            <div class="amountCompraList" v-else>
                                <p v-if="compra.type == 'CREDIT'" class="positivo">+ $
                                    {{compra.amount.toFixed(6).toLocaleString('de-DE')}}</p>
                                <p v-else class="negativo">- $ {{compra.amount.toFixed(6).toLocaleString('de-DE')}} </p>
                            </div>


                        </li>
                    </ul>
                </div>

            </section>



            <footer class="footer-section">
                <div class="container">
                    <div class="footer-cta pt-5 pb-5">
                        <div class="row">
                            <div class="col-xl-4 col-md-4 mb-30">
                                <div class="single-cta">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <div class="cta-text">
                                        <h4>Find us</h4>
                                        <a href="https://goo.gl/maps/sPQenkcJJfpCsCZ67" target="_blank">742 Evergreen
                                            Terrace</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 mb-30">
                                <div class="single-cta">
                                    <i class="fas fa-phone"></i>
                                    <div class="cta-text">
                                        <h4>Call us</h4>
                                        <a href="tel:+9876543210 0" target="_blank">9876543210 0</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 mb-30">
                                <div class="single-cta">
                                    <i class="far fa-envelope-open"></i>
                                    <div class="cta-text">
                                        <h4>Mail us</h4>
                                        <a href="mailto:bankrdox@gmail.com" target="_blank">bankrdox@gmail.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-content pt-5 pb-5">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 mb-50">
                                <div class="footer-widget">
                                    <div class="footer-logo">
                                        <a href="https://beacons.ai/e7ke" target="_blank"><img src="./assets/e7ke.png"
                                                class="img-fluid" alt="logo"></a>
                                    </div>
                                    <div class="footer-text">
                                        <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod
                                            tempor incididuntut consec tetur adipisicing
                                            elit,Lorem ipsum dolor sit amet.</p>
                                    </div>
                                    <div class="footer-social-icon">
                                        <span>Follow us</span>
                                        <a href="https://instagram.com/ezequiel__55/" target="_blank"><i
                                                class="fab fa-instagram facebook-bg"></i></a>
                                        <a href="https://twitter.com/9zE7KE" target="_blank"><i
                                                class="fab fa-twitter twitter-bg"></i></a>
                                        <a href="https://github.com/EzequielPriotto" target="_blank"><i
                                                class="fab fa-github google-bg"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                                <div class="footer-widget">
                                    <div class="footer-widget-heading">
                                        <h3>Useful Links</h3>
                                    </div>
                                    <ul>
                                        <li><a href="./accounts.html">Home</a></li>
                                        <li><a href="#">about</a></li>
                                        <li><a href="#">services</a></li>
                                        <li><a href="#">portfolio</a></li>
                                        <li><a href="#">Contact</a></li>
                                        <li><a href="#">About us</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                                <div class="footer-widget">
                                    <div class="footer-widget-heading">
                                        <h3>Subscribe</h3>
                                    </div>
                                    <div class="footer-text mb-25">
                                        <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                                    </div>
                                    <div class="subscribe-form">
                                        <form @submit.prevent="enviarMail">
                                            <input type="email" placeholder="Email Address" v-model="mailFooterInput"
                                                required>
                                            <button><i class="fab fa-telegram-plane"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 text-center">
                                <div class="copyright-text">
                                    <p>Copyright &copy; 2022, All Right Reserved <a
                                            href="https://github.com/EzequielPriotto" target="_blank">Ezequiel
                                            Priotto</a></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </footer>

            <!-- {{actualizarSelect}} -->
    </main>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/vue-dragscroll"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
    <script src="https://kit.fontawesome.com/19b971d5e3.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>

    <script src="./script/transactions.js"></script>
</body>

</html>