
.seccionTarjetas {
    width: 90%;
  }
  
  .crediCardContainerDebit, .crediCardContainerCredit {
    /* background-color: #1f2224; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    height: 20rem;
    padding-right: 3rem;
    border-radius: 1%;
  }
  
  .crediCardContainerCredit {
  margin-top: 4rem;
  }
  
  .crediCardContainerDebit {
    margin-top: 2rem;
    }
  
  
  .cardBody {
    position: absolute;
    width: 20rem;
    height: 16em;
    padding: 1rem;
    transform: rotate(-65deg);
    transition: 1s;
  
  }
  
  
  
  .crediCardContainerCredit .cardBody:nth-child(1),.crediCardContainerDebit .cardBody:nth-child(1){
    left: 7rem;
  }
  
  .crediCardContainerCredit .cardBody:nth-child(2),.crediCardContainerDebit .cardBody:nth-child(2){
    left: 14rem;
  }
  
  
  .crediCardContainerCredit .cardBody:nth-child(3),.crediCardContainerDebit .cardBody:nth-child(3){
    left: 21rem;
  }
  
  
  .cardSelected  {
    left: 31rem !important;
    transform: rotate(-90deg);
  }
  .cardSelected .cardBack{
    z-index: 2;
  }
  
  .form-wizard .cardBody {
    height: 13rem;
  }
  
  .form-wizard .cardBankFront path {
    fill: url(#MyGradientForm);
    z-index: 5;
  }
  
  .cardBankFront path, .cardBankBack path {
    fill: url(#MyGradient);
    z-index: 5;
    transform: scaleY(1.1);
  }
  
  
  
  .cardBankFront,
  .cardBankBack {
    width: 20rem;
    height: 16em;
    /* padding: 1rem; */
    position: absolute;
    transition: 1s;
    filter: drop-shadow(rgba(255, 162, 0, 0.282) 0px 0px 20px);
  }
  
  .cardBankFront {
    border: none;
    z-index: 5;
    right: 0;
  }
  
  
  .patronCard {
  
    position: absolute;
    z-index: 6;
    width: 113%;
    top: 5.2rem;
    right: -1rem;
    filter: opacity(.3);
    transition: 1s;
    fill: #673700;
  
  }
  
  
  
  .cardBody.noAnimate:hover .cardBankFront {
    right: 0rem;
  }
  
  
  
  .bodyCardFront {
    position: absolute;
    top: 4.6rem;
    left: 0rem;
    z-index: 6;
    transition: 1s;
    display: flex;
    flex-direction: column;
    width: 20rem;
  }
  
  .form-wizard .bodyCardFront {
    top: 4.3rem;
  
  }
  
  
  .titleCard {
    position: relative;
    height: 2rem;
  }
  
  .titleCard h5 {
    position: absolute;
    top: .8rem;
    /* left: .rem; */
    font-weight: bold;
    font-size: 1.7rem;
    color: white;
    left: 1rem;
  
  }
  
  .titleCard h5 span {
    color: #ff5100;
    text-shadow: 0px 0px 20px black;
  }
  
  .wifiCard {
    position: absolute;
    color: #ffffff;
    left: 70%;
    font-size: 2.5rem;
  }
  
  .imgChip {
    position: absolute;
    width: 2rem;
    left: 82%;
    top: 5%
  }
  
  .numberCard {
    font-size: .95rem;
    letter-spacing: .2rem;
    font-family: "creditCardFont" !important;
    margin-top: 2.9rem;
    text-align: center;
  }
  
  .typeCardIcon {
    position: absolute;
    top: 120%;
    left: 80%;
    transform: scale(1.3);
  }
  
  .nombreCard {
    position: absolute;
    top: 130%;
    left: 5%;
    font-family: "creditCardFont" !important;
  
  }
  
  .cardBankBack {
    left: 3rem;
    top: 3rem;
    border-color: 49505700;
    z-index: 1;
    fill: rgb(226, 127, 82);
    transform: scaleX(-1);
  }
  
  .barraNegra {
    z-index: 3;
    position: absolute;
    width: 19.85rem;
    height: 2rem;
    background-color: black;
    top: 48%;
    left: 15.4%;
    transition: 1s;
  }
  
  
  .cardBody:hover .barraNegra {
    top: 67%;
    left: 20.4%;
  }
  
  
  .barraFirma-CVV {
    z-index: 3;
    position: absolute;
    width: 15.85rem;
    height: 2rem;
    background-color: rgb(149, 149, 149);
    top: 72%;
    left: 25.4%;
    transition: 1s;
  }
  
  .cardBody:hover .barraFirma-CVV {
    top: 89%;
    left: 30.4%;
  
  }
  
  .cardBody:hover .cardBankBack {
    left: 4rem;
    top: 6rem;
  }
  
  

.seccionTarjetas {
  width: 90%;
}

.crediCardContainerDebit, .crediCardContainerCredit {
  /* background-color: #1f2224; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  height: 20rem;
  padding-right: 3rem;
  border-radius: 1%;
}

.crediCardContainerCredit {
margin-top: 4rem;
}

.crediCardContainerDebit {
  margin-top: 2rem;
  }


.cardBody {
  position: absolute;
  width: 20rem;
  height: 16em;
  padding: 1rem;
  transform: rotate(-65deg);
  transition: 1s;

}



.crediCardContainerCredit .cardBody:nth-child(1),.crediCardContainerDebit .cardBody:nth-child(1){
  left: 7rem;
}

.crediCardContainerCredit .cardBody:nth-child(2),.crediCardContainerDebit .cardBody:nth-child(2){
  left: 14rem;
}


.crediCardContainerCredit .cardBody:nth-child(3),.crediCardContainerDebit .cardBody:nth-child(3){
  left: 21rem;
}


.cardSelected  {
  left: 31rem !important;
  transform: rotate(-90deg);
}
.cardSelected .cardBack{
  z-index: 2;
}

.form-wizard .cardBody {
  height: 13rem;
}

.form-wizard .cardBankFront path {
  fill: url(#MyGradientForm);
  z-index: 5;
}

.cardBankFront path, .cardBankBack path {
  fill: url(#MyGradient);
  z-index: 5;
  transform: scaleY(1.1);
}



.cardBankFront,
.cardBankBack {
  width: 20rem;
  height: 16em;
  /* padding: 1rem; */
  position: absolute;
  transition: 1s;
  filter: drop-shadow(rgba(255, 162, 0, 0.282) 0px 0px 20px);
}

.cardBankFront {
  border: none;
  z-index: 5;
  right: 0;
}


.patronCard {

  position: absolute;
  z-index: 6;
  width: 113%;
  top: 5.2rem;
  right: -1rem;
  filter: opacity(.3);
  transition: 1s;
  fill: #673700;

}



.cardBody.noAnimate:hover .cardBankFront {
  right: 0rem;
}



.bodyCardFront {
  position: absolute;
  top: 4.6rem;
  left: 0rem;
  z-index: 6;
  transition: 1s;
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.form-wizard .bodyCardFront {
  top: 4.3rem;

}


.titleCard {
  position: relative;
  height: 2rem;
}

.titleCard h5 {
  position: absolute;
  top: .8rem;
  /* left: .rem; */
  font-weight: bold;
  font-size: 1.7rem;
  color: white;
  left: 1rem;

}

.titleCard h5 span {
  color: #ff5100;
  text-shadow: 0px 0px 20px black;
}

.wifiCard {
  position: absolute;
  color: #ffffff;
  left: 70%;
  font-size: 2.5rem;
}

.imgChip {
  position: absolute;
  width: 2rem;
  left: 82%;
  top: 5%
}

.numberCard {
  font-size: .95rem;
  letter-spacing: .2rem;
  font-family: "creditCardFont" !important;
  margin-top: 2.9rem;
  text-align: center;
}

.typeCardIcon {
  position: absolute;
  top: 120%;
  left: 80%;
  transform: scale(1.3);
}

.nombreCard {
  position: absolute;
  top: 130%;
  left: 5%;
  font-family: "creditCardFont" !important;

}

.cardBankBack {
  left: 3rem;
  top: 3rem;
  border-color: 49505700;
  z-index: 1;
  fill: rgb(226, 127, 82);
  transform: scaleX(-1);
}

.barraNegra {
  z-index: 3;
  position: absolute;
  width: 19.85rem;
  height: 2rem;
  background-color: black;
  top: 48%;
  left: 15.4%;
  transition: 1s;
}


.cardBody:hover .barraNegra {
  top: 67%;
  left: 20.4%;
}


.barraFirma-CVV {
  z-index: 3;
  position: absolute;
  width: 15.85rem;
  height: 2rem;
  background-color: rgb(149, 149, 149);
  top: 72%;
  left: 25.4%;
  transition: 1s;
}

.cardBody:hover .barraFirma-CVV {
  top: 89%;
  left: 30.4%;

}

.cardBody:hover .cardBankBack {
  left: 4rem;
  top: 6rem;
}


  