.naranja {
    color: #e85b1a;
}

html.load {
    overflow-y: hidden;
}

* {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}


.centerContainer {
    width: 96%;
    background-color: #26272e;
    background-image: linear-gradient(-90deg, rgba(38, 39, 46, 0.803) 65%, rgba(232, 91, 26, 0.889) 50%);
    height: 32rem;
    margin: 1rem 0;
    display: flex;
    border-radius: 12px;
}

.historyDiv {
    box-shadow: 0px 0px 35px black;
    z-index: 2;
    width: 65%;
    height: 32rem;
    overflow: hidden;
    overflow-y: auto;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1021%26quot%3b)' fill='none'%3e%3cpath d='M46.91 -42.24L111.86 -4.74L111.86 70.26L46.91 107.76L-18.04 70.26L-18.04 -4.74zM111.86 70.26L176.82 107.76L176.82 182.76L111.86 220.26L46.91 182.76L46.91 107.76zM176.82 182.76L241.77 220.26L241.77 295.26L176.82 332.76L111.86 295.26L111.86 220.26zM241.77 295.26L306.73 332.76L306.73 407.76L241.77 445.26L176.82 407.76L176.82 332.76zM176.82 407.76L241.77 445.26L241.77 520.26L176.82 557.76L111.86 520.26L111.86 445.26zM306.73 -42.24L371.68 -4.74L371.68 70.26L306.73 107.76L241.77 70.26L241.77 -4.74zM371.68 70.26L436.63 107.76L436.63 182.76L371.68 220.26L306.73 182.76L306.73 107.76zM371.68 295.26L436.63 332.76L436.63 407.76L371.68 445.26L306.73 407.76L306.73 332.76zM501.59 295.26L566.54 332.76L566.54 407.76L501.59 445.26L436.63 407.76L436.63 332.76zM436.63 407.76L501.59 445.26L501.59 520.26L436.63 557.76L371.68 520.26L371.68 445.26zM501.59 520.26L566.54 557.76L566.54 632.76L501.59 670.26L436.63 632.76L436.63 557.76zM566.54 -42.24L631.49 -4.74L631.49 70.26L566.54 107.76L501.59 70.26L501.59 -4.74zM566.54 182.76L631.49 220.26L631.49 295.26L566.54 332.76L501.59 295.26L501.59 220.26zM631.49 295.26L696.45 332.76L696.45 407.76L631.49 445.26L566.54 407.76L566.54 332.76zM566.54 407.76L631.49 445.26L631.49 520.26L566.54 557.76L501.59 520.26L501.59 445.26zM696.45 -42.24L761.4 -4.74L761.4 70.26L696.45 107.76L631.49 70.26L631.49 -4.74zM696.45 182.76L761.4 220.26L761.4 295.26L696.45 332.76L631.49 295.26L631.49 220.26zM761.4 295.26L826.36 332.76L826.36 407.76L761.4 445.26L696.45 407.76L696.45 332.76zM696.45 407.76L761.4 445.26L761.4 520.26L696.45 557.76L631.49 520.26L631.49 445.26zM891.31 70.26L956.26 107.76L956.26 182.76L891.31 220.26L826.35 182.76L826.35 107.76zM826.35 407.76L891.31 445.26L891.31 520.26L826.35 557.76L761.4 520.26L761.4 445.26zM891.31 520.26L956.26 557.76L956.26 632.76L891.31 670.26L826.35 632.76L826.35 557.76zM1021.22 70.26L1086.17 107.76L1086.17 182.76L1021.22 220.26L956.26 182.76L956.26 107.76zM1021.22 295.26L1086.17 332.76L1086.17 407.76L1021.22 445.26L956.26 407.76L956.26 332.76zM1086.17 -42.24L1151.12 -4.74L1151.12 70.26L1086.17 107.76L1021.22 70.26L1021.22 -4.74zM1151.12 70.26L1216.08 107.76L1216.08 182.76L1151.12 220.26L1086.17 182.76L1086.17 107.76zM1086.17 182.76L1151.12 220.26L1151.12 295.26L1086.17 332.76L1021.22 295.26L1021.22 220.26zM1086.17 407.76L1151.12 445.26L1151.12 520.26L1086.17 557.76L1021.22 520.26L1021.22 445.26zM1216.08 -42.24L1281.03 -4.74L1281.03 70.26L1216.08 107.76L1151.12 70.26L1151.12 -4.74zM1281.03 295.26L1345.98 332.76L1345.98 407.76L1281.03 445.26L1216.08 407.76L1216.08 332.76zM1345.99 -42.24L1410.94 -4.74L1410.94 70.26L1345.99 107.76L1281.03 70.26L1281.03 -4.74zM1410.94 70.26L1475.89 107.76L1475.89 182.76L1410.94 220.26L1345.99 182.76L1345.99 107.76zM1345.99 182.76L1410.94 220.26L1410.94 295.26L1345.99 332.76L1281.03 295.26L1281.03 220.26zM1410.94 295.26L1475.89 332.76L1475.89 407.76L1410.94 445.26L1345.99 407.76L1345.99 332.76zM1345.99 407.76L1410.94 445.26L1410.94 520.26L1345.99 557.76L1281.03 520.26L1281.03 445.26zM1410.94 520.26L1475.89 557.76L1475.89 632.76L1410.94 670.26L1345.99 632.76L1345.99 557.76zM1475.89 -42.24L1540.85 -4.74L1540.85 70.26L1475.89 107.76L1410.94 70.26L1410.94 -4.74zM1540.85 70.26L1605.8 107.76L1605.8 182.76L1540.85 220.26L1475.89 182.76L1475.89 107.76zM1540.85 520.26L1605.8 557.76L1605.8 632.76L1540.85 670.26L1475.89 632.76L1475.89 557.76z' stroke='rgba(255%2c 138%2c 0%2c 0.45)' stroke-width='2'%3e%3c/path%3e%3cpath d='M39.41 -42.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM104.36 -4.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM104.36 70.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM39.41 107.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-25.54 70.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-25.54 -4.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM169.32 107.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM169.32 182.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM104.36 220.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM39.41 182.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM234.27 220.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM234.27 295.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM169.32 332.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM104.36 295.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM299.23 332.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM299.23 407.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM234.27 445.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM169.32 407.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM234.27 520.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM169.32 557.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM104.36 520.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM104.36 445.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM299.23 -42.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM364.18 -4.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM364.18 70.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM299.23 107.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM234.27 70.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM234.27 -4.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM429.13 107.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM429.13 182.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM364.18 220.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM299.23 182.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM364.18 295.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM429.13 332.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM429.13 407.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM364.18 445.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM494.09 295.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM559.04 332.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM559.04 407.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM494.09 445.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM494.09 520.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM429.13 557.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM364.18 520.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM559.04 557.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM559.04 632.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM494.09 670.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM429.13 632.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM559.04 -42.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM623.99 -4.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM623.99 70.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM559.04 107.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM494.09 70.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM494.09 -4.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM559.04 182.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM623.99 220.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM623.99 295.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM494.09 220.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM688.95 332.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM688.95 407.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM623.99 445.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM623.99 520.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM688.95 -42.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM753.9 -4.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM753.9 70.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM688.95 107.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM688.95 182.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM753.9 220.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM753.9 295.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM818.86 332.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM818.86 407.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM753.9 445.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM753.9 520.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM688.95 557.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM883.81 70.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM948.76 107.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM948.76 182.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM883.81 220.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM818.85 182.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM818.85 107.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM818.85 407.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM883.81 445.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM883.81 520.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM818.85 557.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM948.76 557.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM948.76 632.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM883.81 670.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM818.85 632.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1013.72 70.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1078.67 107.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1078.67 182.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1013.72 220.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1013.72 295.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1078.67 332.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1078.67 407.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1013.72 445.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM948.76 407.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM948.76 332.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1078.67 -42.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1143.62 -4.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1143.62 70.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1013.72 -4.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1208.58 107.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1208.58 182.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1143.62 220.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1143.62 295.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1143.62 445.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1143.62 520.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1078.67 557.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1013.72 520.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1208.58 -42.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1273.53 -4.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1273.53 70.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1273.53 295.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1338.48 332.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1338.48 407.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1273.53 445.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1208.58 407.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1208.58 332.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1338.49 -42.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1403.44 -4.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1403.44 70.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1338.49 107.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1468.39 107.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1468.39 182.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1403.44 220.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1338.49 182.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1403.44 295.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1338.49 332.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1273.53 220.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1468.39 332.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1468.39 407.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1403.44 445.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1338.49 407.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1403.44 520.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1338.49 557.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1273.53 520.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1468.39 557.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1468.39 632.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1403.44 670.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1338.49 632.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1468.39 -42.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1533.35 -4.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1533.35 70.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1598.3 107.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1598.3 182.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1533.35 220.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1533.35 520.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1598.3 557.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1598.3 632.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1533.35 670.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='rgba(255%2c 138%2c 0%2c 0.45)'%3e%3c/path%3e%3cpath d='M80.49 177.28L123.8 202.28L123.8 252.28L80.49 277.28L37.19 252.28L37.19 202.28zM123.8 252.28L167.1 277.28L167.1 327.28L123.8 352.28L80.49 327.28L80.49 277.28zM123.8 402.28L167.1 427.28L167.1 477.28L123.8 502.28L80.49 477.28L80.49 427.28zM253.7 27.28L297 52.28L297 102.28L253.7 127.28L210.4 102.28L210.4 52.28zM210.4 252.28L253.7 277.28L253.7 327.28L210.4 352.28L167.1 327.28L167.1 277.28zM340.31 177.28L383.61 202.28L383.61 252.28L340.31 277.28L297 252.28L297 202.28zM340.31 327.28L383.61 352.28L383.61 402.28L340.31 427.28L297 402.28L297 352.28zM297 402.28L340.31 427.28L340.31 477.28L297 502.28L253.7 477.28L253.7 427.28zM340.31 477.28L383.61 502.28L383.61 552.28L340.31 577.28L297 552.28L297 502.28zM383.61 -47.72L426.91 -22.72L426.91 27.28L383.61 52.28L340.31 27.28L340.31 -22.72zM426.91 27.28L470.22 52.28L470.22 102.28L426.91 127.28L383.61 102.28L383.61 52.28zM383.61 102.28L426.91 127.28L426.91 177.28L383.61 202.28L340.31 177.28L340.31 127.28zM426.91 177.28L470.22 202.28L470.22 252.28L426.91 277.28L383.61 252.28L383.61 202.28zM426.91 327.28L470.22 352.28L470.22 402.28L426.91 427.28L383.61 402.28L383.61 352.28zM513.52 27.28L556.82 52.28L556.82 102.28L513.52 127.28L470.22 102.28L470.22 52.28zM513.52 177.28L556.82 202.28L556.82 252.28L513.52 277.28L470.22 252.28L470.22 202.28zM513.52 327.28L556.82 352.28L556.82 402.28L513.52 427.28L470.22 402.28L470.22 352.28zM513.52 477.28L556.82 502.28L556.82 552.28L513.52 577.28L470.22 552.28L470.22 502.28zM556.82 102.28L600.12 127.28L600.12 177.28L556.82 202.28L513.52 177.28L513.52 127.28zM600.12 177.28L643.42 202.28L643.42 252.28L600.12 277.28L556.82 252.28L556.82 202.28zM600.12 327.28L643.42 352.28L643.42 402.28L600.12 427.28L556.82 402.28L556.82 352.28zM556.82 402.28L600.12 427.28L600.12 477.28L556.82 502.28L513.52 477.28L513.52 427.28zM686.73 27.28L730.03 52.28L730.03 102.28L686.73 127.28L643.42 102.28L643.42 52.28zM686.73 177.28L730.03 202.28L730.03 252.28L686.73 277.28L643.42 252.28L643.42 202.28zM686.73 327.28L730.03 352.28L730.03 402.28L686.73 427.28L643.42 402.28L643.42 352.28zM730.03 -47.72L773.33 -22.72L773.33 27.28L730.03 52.28L686.73 27.28L686.73 -22.72zM730.03 402.28L773.33 427.28L773.33 477.28L730.03 502.28L686.73 477.28L686.73 427.28zM816.63 -47.72L859.94 -22.72L859.94 27.28L816.63 52.28L773.33 27.28L773.33 -22.72zM816.63 102.28L859.94 127.28L859.94 177.28L816.63 202.28L773.33 177.28L773.33 127.28zM859.94 177.28L903.24 202.28L903.24 252.28L859.94 277.28L816.63 252.28L816.63 202.28zM859.94 327.28L903.24 352.28L903.24 402.28L859.94 427.28L816.63 402.28L816.63 352.28zM816.63 402.28L859.94 427.28L859.94 477.28L816.63 502.28L773.33 477.28L773.33 427.28zM903.24 102.28L946.54 127.28L946.54 177.28L903.24 202.28L859.94 177.28L859.94 127.28zM903.24 252.28L946.54 277.28L946.54 327.28L903.24 352.28L859.94 327.28L859.94 277.28zM946.54 327.28L989.85 352.28L989.85 402.28L946.54 427.28L903.24 402.28L903.24 352.28zM1033.15 27.28L1076.45 52.28L1076.45 102.28L1033.15 127.28L989.85 102.28L989.85 52.28zM1033.15 177.28L1076.45 202.28L1076.45 252.28L1033.15 277.28L989.85 252.28L989.85 202.28zM1033.15 327.28L1076.45 352.28L1076.45 402.28L1033.15 427.28L989.85 402.28L989.85 352.28zM1033.15 477.28L1076.45 502.28L1076.45 552.28L1033.15 577.28L989.85 552.28L989.85 502.28zM1076.45 -47.72L1119.75 -22.72L1119.75 27.28L1076.45 52.28L1033.15 27.28L1033.15 -22.72zM1119.75 27.28L1163.06 52.28L1163.06 102.28L1119.75 127.28L1076.45 102.28L1076.45 52.28zM1163.06 -47.72L1206.36 -22.72L1206.36 27.28L1163.06 52.28L1119.75 27.28L1119.75 -22.72zM1206.36 27.28L1249.66 52.28L1249.66 102.28L1206.36 127.28L1163.06 102.28L1163.06 52.28zM1206.36 327.28L1249.66 352.28L1249.66 402.28L1206.36 427.28L1163.06 402.28L1163.06 352.28zM1249.66 102.28L1292.96 127.28L1292.96 177.28L1249.66 202.28L1206.36 177.28L1206.36 127.28zM1249.66 402.28L1292.96 427.28L1292.96 477.28L1249.66 502.28L1206.36 477.28L1206.36 427.28zM1292.96 477.28L1336.27 502.28L1336.27 552.28L1292.96 577.28L1249.66 552.28L1249.66 502.28zM1336.27 102.28L1379.57 127.28L1379.57 177.28L1336.27 202.28L1292.96 177.28L1292.96 127.28zM1379.57 327.28L1422.87 352.28L1422.87 402.28L1379.57 427.28L1336.27 402.28L1336.27 352.28zM1422.87 -47.72L1466.17 -22.72L1466.17 27.28L1422.87 52.28L1379.57 27.28L1379.57 -22.72zM1466.17 27.28L1509.48 52.28L1509.48 102.28L1466.17 127.28L1422.87 102.28L1422.87 52.28zM1422.87 102.28L1466.17 127.28L1466.17 177.28L1422.87 202.28L1379.57 177.28L1379.57 127.28zM1466.17 177.28L1509.48 202.28L1509.48 252.28L1466.17 277.28L1422.87 252.28L1422.87 202.28zM1422.87 402.28L1466.17 427.28L1466.17 477.28L1422.87 502.28L1379.57 477.28L1379.57 427.28z' stroke='rgba(255%2c 170%2c 0%2c 0.25)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1021'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    
}
.historyDiv.col-8 {
    padding: 0;
}
.historyDiv.empty {
    overflow-y: hidden;
    
}

.historyDiv img {
    width: 65%;
    position: absolute;
    top: 38%;
    left: 15%;
}

.historyDiv ul {
    background: rgba(0, 0, 0, 0.341);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    min-height: 32rem !important;
    margin: 0;
}

.itemCompraList {
    width: 100% !important;

}

.itemCompraList * {
    border: none !important;
    justify-content: center;
    align-items: center;
}
.itemCompraList * p{
    padding: 1rem 0 !important;
}
.itemCompraList:first-child * p{
    color: #e85b1a !important;
    font-size: 1.1rem;
}
.positivo {
    color: #54ad54 !important;
}

.negativo {
    color: #bf3131 !important;
}

.transferDiv {
    width: 35%;
    height: 34rem;
    position: relative;
}

.transferDiv h4 {
    margin-top: 1rem;

}

.transferDiv h4::after {
    content: "";
    width: 14rem;
    height: .14em;
    background-color: white;
    position: absolute;
    right: 23%;
    top: 9.3%;
}

.paso1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: .5s;
    position: absolute;
    bottom: 16%;
    width: 90%;
}

.paso2 {
    z-index: 2;
    opacity: 0;
    transition: .5s;
    top: 12%;
    left: 4%;
    position: absolute;
    width: 90%;
}

.paso1.active,
.paso2.active {
    z-index: 3;
    opacity: 1;
    width: 90%;
}

.paso1.active+img,
.paso2.active+img {
    filter: blur(1.4px);
}

.transferDiv img {
    position: absolute;
    width: 65%;
    top: 53.7%;
    z-index: 1;
    left: 40%;
    filter: blur(0px);
    transition: .3s;
}

.transferDiv,
.transferDiv form,
.transferDiv fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transferDiv form {
    width: 100%;
    position: relative;
    color: white;

}

.transferDiv fieldset {
    width: 90%;
    height: 5rem;
}

.transferDiv fieldset:nth-child(1) {
    margin-bottom: 4rem;
}

.transferDiv fieldset:nth-child(2) {
    margin-bottom: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.transferDiv fieldset textarea {

    resize: none;
}

.paso2 .btnBack:first-child {
    z-index: -2;
    position: absolute;
    top: 90%;
    right: 75%;
    transition: .3s;
    transition: 1s;
}

.paso2.active .btnBack:first-child {

    z-index: 2;
}

.btnBack:first-child:hover {
    letter-spacing: .1rem;
}

.paso2 button:last-child {
    margin: 2rem;
}

.btn:focus {
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%);
}

.paso1>.btn {
    letter-spacing: .1rem;
    transition: .5s;
    font-size: 1.6rem;
    color: white;
    border: 3px solid;
    border-radius: 10px;
    width: 12rem;
    background-color: #f1790100;
}

.paso1>.btn:hover {
    letter-spacing: .2rem;
    background-color: #ed7323;

}

.transferDiv [type="number"] {
    height: 2.3rem;
    border-radius: 3rem;
    background-color: #191a1e;
    outline: none;
    border: none;
    text-align: center;
}

.transferDiv textarea {
    height: 4rem;
    border-radius: 9px;
    background-color: #191a1e;
    outline: none;
    border: none;
    text-align: center;
}

.transferDiv form button:last-child {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: white;
    background: #e06a1b;
    background: linear-gradient(to right, #f17901, #e77d12, #ff8c3b);
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
    margin-top: 2.3rem;
}

.transferDiv form button svg {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.transferDiv form button span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.transferDiv form button:hover svg {
    transform: translateX(5px) rotate(90deg);
}

.transferDiv form button:hover span {
    transform: translateX(7px);
}

.divAlert.disable {
   z-index: -10;
}

.divAlert {
    z-index: 10;

}

.divAlert.disable .alertContainer {
    opacity: 0;
    background-color: #00000000;
    transition: 1s;
}


.alertContainer {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: #00000073;
    z-index: 999;
    content: "";
    transition: 1s;
}

.alert {
    position: absolute;
    height: 27rem;
    top: 15%;
    left: 32%;
    width: 31rem;
    transform: scale(0);
    background-color: #282928;

    -webkit-animation: openModal 800ms;
    animation: openModal 800ms;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;

}

.alerBody {
    position: relative;
    width: 100%;
    height: 100%;
}

.divAlert.disable .alerBody img {
    animation-play-state: paused;

}
.divAlert.disable .alerBody .txt-pajarito {
    animation-play-state: paused;
}
.alerBody img {
    position: absolute;
    width: 100%;
    top: 56%;
    left: 6%;
    -webkit-animation: openPajarito 1400ms;
    animation: openPajarito 1400ms;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
   
    animation-play-state: running;
}

.alerBody .txt-pajarito {
    color: #ff5e00;
    text-shadow: 0px 0px 14px rgba(0, 0, 0, 0.461);
    font-weight: bold;
    position: absolute;
    top: 62%;
    left: 13%;
    -webkit-animation: opentxt 2000ms;
    animation: opentxt 2000ms;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    /* -webkit-animation-delay: 1s; */
    /* animation-delay: 1s; */
    animation-play-state: running;

}

.alertDetails {
    text-align: start;
    color: white;
}

.alertDetails p {
    margin-bottom: .5rem;
}

.accountOriginContainer {
    display: flex;
    flex-direction: column;
}

.accountOrigin {
    background: #272828;
    list-style: none;
    text-align: center;
    padding: 0rem;
    height: 6rem;
    width: 13rem;
    margin: 0;
    z-index: 4;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    box-shadow: 3px 5px 15px black;
}


.accountOrigin.destiny {
    height: auto;
    width: 11rem;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    z-index: 4;
}

.accountOrigin li {
    opacity: 0;
    transition: 0.2s;

}

.accountOrigin li {
    opacity: 1;
    width: 100%;
}

.accountOrigin li:first-child {
    margin-top: .3rem;

}

.accountOrigin li label {
    transition: .2s;
    cursor: pointer;
}

.accountOrigin li label span {
    font-size: .8rem !important;
}

.accountOrigin li input:checked+label {
    background-color: #373838;
    width: 100%;
}

.accountOrigin.destiny li input:checked+label {
    background-color: #373838;
    width: 100%;
}
.marcador{
    color: white;
    font-weight: bold;
}
.transferDivMobile{
display: none;
}
.confirmBody{
    width: 50%;
    height: 100%;
    background-color: #26272e;
    position: fixed;
    top: 0;
    left: -60%;
    z-index: 30;
    transition: 1.8s;
}
.confirmBody.active{
    left: 0%;
}
.confirmBody img{
    width: 24rem;
    position: absolute;
    top: 20rem;
    left: 8rem;
}
.confirmBody > span{
position: absolute;
z-index: 40;
left: 94%;
top: 9%;
color: white;
font-size: 2rem;
cursor: pointer;
}
@keyframes openModal {

    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);

    }
}

@keyframes openPajarito {

    0%,
    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);

    }
}

@keyframes opentxt {

    0%,
    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(.9);


    }
}


@media (max-width: 800px){
    .centerContainer {
        flex-direction: column;
        background-image: linear-gradient(-90deg, rgba(38, 39, 46, 0.803) 65%, rgba(38, 39, 46, 0.803) 50%);
    }
    .historyDiv{
        width: 100%;
    }
    .transferDiv{
        display: none;
    }
    .transferDivMobile{
        display: flex;
        height: 50%;
        width: 100%;
        background-color: rgba(232, 91, 26, 0.889);
    }
}